.recent-chats
{
    list-style-type: none;
    overflow: scroll;
    overflow-x: hidden;
    background-color: white;
    scrollbar-width: thin;
}
.recent-meta>span
{
    display: inline-block;
}
.profile-options,.chat-options
{
    position: relative;
}
.profile-options-list,.chat-options-list
{
    list-style-type: none;
    /* display: none; */
    position: absolute;
    background-color: white;
    top:100%;
    right: 0%;
    padding: 0.5em 0;
    transform: scale(0);
    opacity: 0;
    transform-origin: right;
    transition: transform 100ms ease-in-out,opacity 50ms ease-in-out;
    box-shadow: 0 0 2px rgb(196, 194, 194);
    width: 1500%;
}
.profile-options-list>li,.chat-options-list>li
{
    padding: 0.75em;    
    /* margin-bottom: 1em; */
}
.profile-options-list>li:hover,.chat-options-list>li:hover
{
    background-color: var(--hover-color);
}
#profile-options-checkbox,#chat-options-checkbox
{
    display: none;
}
.options-btn
{
    display: inline-block;
    position: relative;
    font-size: 2rem;
    color: #979494;
}
.options-btn::after,.options-btn::before
{
    content:'∙';
    position: absolute;
    top: 0;
    color: #979494;
    /* background-color: red; */
    left: 0;
}
.options-btn::before
{
    top: -0.25em;
}
.options-btn::after
{
    top:0.25em;
}
#profile-options-checkbox:checked+ul,#chat-options-checkbox:checked+ul
{
    /* display: block; */
    transform: scale(1);
    opacity: 1;
}
.side-bar>.header
{
    border-right: 1px solid #DADADA;
}
.search-bar
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em 0.75em;
    background-color: #e6e6e6;
}
.search-bar>img
{
    width: 20px;
    height: 20px;
    display: none;
}
.search-bar>input
{
    all:unset;
    width: 100%;
    height: 1em;
    font-size: 14px;
    border-radius: 100px;
    border: none;
    padding: 0.5em;
    background-color: white;
}
.chat-head
{
    display: grid;
    /* display: none; */
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10fr 2fr;
    grid-template-areas: "dp meta unread";
    /* justify-content: space-evenly; */
    /* align-items: center; */
    padding: 0.75em;
    border-bottom: 1px solid #f5eeee;
    /* position: relative; */
}
.recent-chat-placeholder
{
    width: 100%;
    height: 100%;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(197, 189, 189);
}
.chat-head.unread
{
    background-color: #e6e6e6;
}
ul.recent-chats
{
    /* display: none; */
}

.recent-chats
{
    /* padding: 0.75em; */
    /* display: flex; */
}
.recent-meta
{
    grid:meta;
    padding-left: 1em;
}
.wrapper
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.recent-meta>p
{
    width: fit-content;
}
div.unread
{
    grid:unread;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #35d371;
    color: white;
    margin: auto;
    /* margin-top: 0.2em; */
}
p.unread.chat-head-title
{
    font-weight: 700;   
}
p.unread.chat-head-msg
{
    color: rgb(107, 100, 100);
    font-weight: 600;
}
.dp-icon
{
    grid: dp;
}
.chat-head:hover
{
    background-color: var(--hover-color);
}
.chat-head-title
{
    font-size: 1.1rem;
    margin-bottom: 0.2em;
    /* font-weight: ; */
}
.chat-head-msg
{
    font-size: 0.8rem;
    color: rgb(177, 166, 166);
    /* font-weight: lighter; */
}